footer
    .container.beautiful-jekyll-footer
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                ul.list-inline.text-center.footer-links
                    each item in theme.footer
                        li
                            if item.self
                                strong
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-stack-1x.fa-inverse(class=item.icon)
                                    = item.title
                            else
                                a(href=item.link, title=item.title)
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-stack-1x.fa-inverse(class=item.icon)
                                    = item.title
                - var year = new Date().getFullYear();
                p.copyright.text-muted
                    a(href="https://creativecommons.org/licenses/by/4.0/deed.ja", target="_blank")
                        img(src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg", alt="CC BY-SA 4.0")
                    br
                    | © #{config.author} • #{year} • #[a(href="mailto:" + config.email)= config.email]

                p.theme-by.text-muted.
                    Theme by
                    #[a(href="https://github.com/twoyao/beautiful-hexo") beautiful-hexo]
